In [20]:
import wikipedia
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Analyse composer's works metadata: keys used in time

Uses sheets I built out of lists from IMSLP

## Beethoven

In [134]:
df = pd.read_csv('Composers\' works - Beethoven.csv')

len(df)

539

In [135]:
## manipulate

# remove missing date ones 
df = df[(~df['start_year'].isna()) & (~df['start_year'].isin(['—', '-']))]

# transform the start_year in an int
df['start_year'] = df['start_year'].astype(int)

# add col for lustrum (lustro)
df['lustrum'] = df['start_year'].apply(lambda row: divmod(row, 10)[0] * 10 + 5 * divmod(divmod(row, 10)[1], 5)[0])

df = df[~df.key_mod.isna()]

In [136]:
len(df)

df.head(2)

df.dtypes

399

,Op.,WoO,Hess,Biamonti,Title,Key,key_mod,Date,start_year,Scoring,Genre,Notes,lustrum
0,—,49,—,5,Rondo,A major,A_M,1783,1783,pf,Keyboard,NaN,1780
1,—,108,—,9,"An einen Säugling (""Noch weisst du nicht, wes ...",A major,A_M,1783,1783,v pf,Vocal,NaN,1780

Op.           object
WoO           object
Hess          object
Biamonti      object
Title         object
Key           object
key_mod       object
Date          object
start_year     int64
Scoring       object
Genre         object
Notes         object
lustrum        int64
dtype: object

In [137]:
df.groupby('key_mod').count()

set(df['key_mod'])

,Op.,WoO,Hess,Biamonti,Title,Key,Date,start_year,Scoring,Genre,Notes,lustrum
key_mod,,,,,,,,,,,,
A_M,27,27,27,27,27,27,27,27,27,27,9,27
A_flat_M,4,4,4,4,4,4,4,4,4,4,1,4
A_m,6,6,6,6,6,6,6,6,6,6,1,6
B_flat_M,35,35,35,35,35,35,35,35,35,35,12,35
B_flat_m,1,1,1,1,1,1,1,1,1,1,1,1
B_m,1,1,1,1,1,1,1,1,1,1,0,1
C_M,66,66,66,66,66,66,66,66,65,66,24,66
C_m,24,24,24,24,24,24,24,24,24,24,9,24
C_sharp_m,2,2,2,2,2,2,2,2,2,2,0,2
D_M,48,48,48,48,48,48,48,48,48,48,19,48
D_m,9,9,9,9,9,9,9,9,9,9,3,9
E_M,14,14,14,14,14,14,14,14,14,14,6,14
E_flat_M,56,56,56,56,56,56,56,56,55,56,20,56
E_m,4,4,4,4,4,4,4,4,4,4,0,4
F_M,43,43,43,43,43,43,43,43,43,43,21,43
F_m,8,8,8,8,8,8,8,8,8,8,2,8
F_sharp_M,1,1,1,1,1,1,1,1,1,1,0,1
F_sharp_m,1,1,1,1,1,1,1,1,1,1,0,1
G_M,42,42,42,42,42,42,42,42,42,42,13,42
G_m,7,7,7,7,7,7,7,7,7,7,3,7

{'A_M',
 'A_flat_M',
 'A_m',
 'B_flat_M',
 'B_flat_m',
 'B_m',
 'C_M',
 'C_m',
 'C_sharp_m',
 'D_M',
 'D_m',
 'E_M',
 'E_flat_M',
 'E_m',
 'F_M',
 'F_m',
 'F_sharp_M',
 'F_sharp_m',
 'G_M',
 'G_m'}

In [94]:
# this doesn't work - I guess because there's some segments where there isn't a mode, aka all values are different
# it's not a data format thing because other cols work
#df[['lustrum', 'key_mod']].groupby('lustrum').agg(pd.Series.mode)

In [138]:
df[df.lustrum>=1785][['lustrum', 'key_mod']].groupby('lustrum').agg([pd.Series.mode, 'count', pd.Series.nunique])   # it's 1780 where you have problems?

                 key_mod
                    mode count nunique
lustrum
1785                 G_M    15       8
1790                 C_M    53      13
1795                 G_M    71      10
1800                 C_M    70      15
1805                 D_M    45      14
1810                 C_M    31      11
1815                 C_M    43      10
1820     [E_M, E_flat_M]    36      12
1825     [B_flat_M, C_M]    25      11

In [96]:
df.groupby('lustrum').count()['']

,Op.,WoO,Hess,Biamonti,Title,Key,key_mod,Date,start_year,Scoring,Genre,Notes
lustrum,,,,,,,,,,,,
1780,10,10,10,10,10,10,10,10,10,10,10,2
1785,15,15,15,15,15,15,15,15,15,15,15,10
1790,53,53,53,53,53,53,53,53,53,53,53,24
1795,71,71,71,71,71,71,71,71,71,71,71,27
1800,70,70,70,70,70,70,70,70,70,70,70,23
1805,45,45,45,45,45,45,45,45,45,45,45,17
1810,31,31,31,31,31,31,31,31,31,31,31,8
1815,43,43,43,43,43,43,43,43,43,43,43,11
1820,36,36,36,36,36,36,36,36,36,35,36,13
1825,25,25,25,25,25,25,25,25,25,24,25,9

In [140]:
df[df.lustrum==1780].groupby('key_mod').count()

,Op.,WoO,Hess,Biamonti,Title,Key,Date,start_year,Scoring,Genre,Notes,lustrum
key_mod,,,,,,,,,,,,
A_M,2,2,2,2,2,2,2,2,2,2,0,2
C_M,1,1,1,1,1,1,1,1,1,1,0,1
C_m,1,1,1,1,1,1,1,1,1,1,1,1
D_M,2,2,2,2,2,2,2,2,2,2,0,2
E_flat_M,2,2,2,2,2,2,2,2,2,2,1,2
F_m,1,1,1,1,1,1,1,1,1,1,0,1
G_M,1,1,1,1,1,1,1,1,1,1,0,1

## Mozart

In [141]:
df = pd.read_csv('Composers\' works - Mozart.csv')

In [142]:
## manipulate

# remove missing date ones 
df = df[(~df['start_year'].isna()) & (~df['start_year'].isin(['—', '-', '?']))]

# transform the start_year in an int
df['start_year'] = df['start_year'].astype(int)

# add col for lustrum (lustro)
df['lustrum'] = df['start_year'].apply(lambda row: divmod(row, 10)[0] * 10 + 5 * divmod(divmod(row, 10)[1], 5)[0])

df = df[~df.key_mod.isna()]

In [143]:
len(df)

657

In [144]:
df.groupby('key_mod').count()

,K,K6,Title,Forces,Key,Date,start_year,Genre,Notes,lustrum
key_mod,,,,,,,,,,
A_M,38,38,38,38,38,38,38,38,6,38
A_flat_M,3,3,3,3,3,3,3,3,0,3
A_m,9,9,9,9,9,9,9,9,3,9
B_flat_M,93,93,93,93,93,93,93,93,18,93
B_m,2,2,2,2,2,2,2,2,0,2
C_M,108,108,108,107,108,108,108,108,14,108
C_m,21,21,21,21,21,21,21,21,4,21
D_M,99,99,99,99,99,99,99,99,13,99
D_m,14,14,14,14,14,14,14,14,4,14
E_M,4,4,4,4,4,4,4,4,1,4
E_flat_M,76,76,76,76,76,76,76,76,10,76
E_m,3,3,3,3,3,3,3,3,1,3
F_M,99,99,99,99,99,99,99,99,21,99
F_m,6,6,6,6,6,6,6,6,1,6
G_M,69,69,69,69,69,69,69,69,13,69
G_m,13,13,13,13,13,13,13,13,5,13

In [145]:
df[['lustrum', 'key_mod']].groupby('lustrum').agg([pd.Series.mode, 'count', pd.Series.nunique])

          key_mod
             mode count nunique
lustrum
1760          F_M    66      12
1765          D_M    61      11
1770          D_M   103      11
1775          C_M   114      13
1780          C_M   129      12
1785          F_M   150      15
1790     E_flat_M    34      11

## Haydn

In [146]:
df = pd.read_csv('Composers\' works - classical period - Haydn.csv')

In [147]:
## manipulate

# remove missing date ones 
df = df[(~df['start_year'].isna()) & (~df['start_year'].isin(['—', '-', '?']))]

# transform the start_year in an int
df['start_year'] = df['start_year'].astype(int)

# add col for lustrum (lustro)
df['lustrum'] = df['start_year'].apply(lambda row: divmod(row, 10)[0] * 10 + 5 * divmod(divmod(row, 10)[1], 5)[0])

df = df[~df.key_mod.isna()]

In [148]:
len(df)

610

In [149]:
df[['lustrum', 'key_mod']].groupby('lustrum').agg([pd.Series.mode, 'count', pd.Series.nunique])

                      key_mod
                         mode count nunique
lustrum
1750                      F_M     1       1
1755                      D_M    21       8
1760                      C_M    52       8
1765                      D_M   110      13
1770                      C_M    98      16
1775                      D_M    35      10
1780                 B_flat_M    83      16
1785                      C_M    61      14
1790                      C_M    96      15
1795                 B_flat_M    44      10
1800     [B_flat_M, C_M, D_m]     9       6

In [150]:
df[df.lustrum==1750]

,start_year,No.,Subtitle,Instrumentation,Date,Key,key_mod,Notes,lustrum
1023,1750,Hob.XXII:1,Missa brevis,"2 Sopranos, Mixed Choir, Strings",1750 ca.,F major,F_M,NaN,1750

## Schubert

In [151]:
df = pd.read_csv('Composers\' works - classical period - Schubert.csv')

In [152]:
## manipulate

# remove missing date ones 
df = df[(~df['start_year'].isna()) & (~df['start_year'].isin(['—', '-', '?']))]

# transform the start_year in an int
df['start_year'] = df['start_year'].astype(int)

# add col for lustrum (lustro)
df['lustrum'] = df['start_year'].apply(lambda row: divmod(row, 10)[0] * 10 + 5 * divmod(divmod(row, 10)[1], 5)[0])

df = df[~df.key_mod.isna()]

In [153]:
df[['lustrum', 'key_mod']].groupby('lustrum').agg([pd.Series.mode, 'count', pd.Series.nunique])

          key_mod
             mode count nunique
lustrum
1780          C_m     1       1
1785          C_M     3       2
1795          F_M     9       6
1805     B_flat_M     1       1
1810          C_M   179      18
1815          C_M   625      26
1820          C_M   190      24
1825          C_M   217      22

In [154]:
df[df.lustrum==1785]

,start_year,D.,Opus,Title,Key,key_mod,Date,Scoring,Librettists,Published,Notes,lustrum
550,1788,D.Anh.III/1/9,NaN,"Alleluia, KV.553 (“Alleluia”)",C major,C_M,1788,4vv,NaN,NaN,1810 ca. copy; composition by Wolfgang Amadeus...,1785
551,1788,D.Anh.III/3,NaN,"Symphony, KV.551",C major,C_M,1788,orch,NaN,1793,1813 copy; composition by Wolfgang Amadeus Mozart,1785
1097,1785,D.Anh.III/11 [92],NaN,"Lass immer in der Jugend Glanz, KV.484d (“Lass...",F major,F_M,1785,2vv,anonymous,1804,canon; copy lost; composition by Wolfgang Amad...,1785

## Paganini

In [155]:
df = pd.read_csv('Composers\' works - classical period - Paganini.csv')

In [156]:
## manipulate

# remove missing date ones 
df = df[(~df['start_year'].isna()) & (~df['start_year'].isin(['—', '-', '?']))]

# transform the start_year in an int
df['start_year'] = df['start_year'].astype(int)

# add col for lustrum (lustro)
df['lustrum'] = df['start_year'].apply(lambda row: divmod(row, 10)[0] * 10 + 5 * divmod(divmod(row, 10)[1], 5)[0])

df = df[~df.key_mod.isna()]

In [158]:
df[['lustrum', 'key_mod']].groupby('lustrum').agg([pd.Series.mode, 'count', pd.Series.nunique])

                      key_mod
                         mode count nunique
lustrum
1795                      A_M     1       1
1800                      A_M     3       2
1805                      C_M    12       8
1810          [A_M, D_M, E_M]     3       3
1815                      A_M    15       9
1820     [A_M, A_m, D_M, E_M]     4       4
1825                      G_M     6       5
1830                      D_M     8       7
1835               [A_M, C_M]     2       2

## C P E Bach

In [159]:
df = pd.read_csv('Composers\' works - classical period - C P E Bach.csv')

In [160]:
## manipulate

# remove missing date ones 
df = df[(~df['start_year'].isna()) & (~df['start_year'].isin(['—', '-', '?']))]

# transform the start_year in an int
df['start_year'] = df['start_year'].astype(int)

# add col for lustrum (lustro)
df['lustrum'] = df['start_year'].apply(lambda row: divmod(row, 10)[0] * 10 + 5 * divmod(divmod(row, 10)[1], 5)[0])

df = df[~df.key_mod.isna()]

In [161]:
df[['lustrum', 'key_mod']].groupby('lustrum').agg([pd.Series.mode, 'count', pd.Series.nunique])

            key_mod
               mode count nunique
lustrum
1725            G_m     1       1
1730            G_M    41      14
1735            G_M    23      10
1740            D_M    35      17
1745            D_m    50      13
1750            G_M    47      14
1755            F_M    89      16
1760            D_M    74      15
1765            G_M    96      13
1770     [C_M, F_M]    25      11
1775     [C_M, D_M]    51      11
1780            A_M    21       9
1785            G_M    24      11

## References

* Mozart's Choice of Keys, JSTOR - can't find a PDF https://www.jstor.org/stable/739491#:~:text=He%20chose%20only%20C%2C%20D,greater%20freedom%2Da%20longer%20radius.
*https://en.wikipedia.org/wiki/Mozart_and_G_minor#:~:text=G%20minor%20has%20been%20considered,key%20for%20his%20numbered%20symphonies.
* http://staff.washington.edu/marzban/music.pdf